<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gordeevbr">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="24"/>
    <application
        android:label="TEST"
        android:debuggable="true"
        tools:replace="android:label"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:label="MAIN ACTIVITY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>